*{margin:0;padding:0;box-sizing:border-box;font-family:Arial,sans-serif}
body{background:#eef3fb}
.container{display:flex;min-height:100vh}
.left{
width:45%;
background-image:linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),url('https://tse3.mm.bing.net/th/id/OIP.3GsvChzmqPQerJqoSG2HiQHaE8?pid=Api&P=0&h=180');
background-size:cover;
background-position:center;
padding:60px;
color:#fff;
display:flex;
flex-direction:column;
justify-content:center}
.left h1{font-size:48px}
.left span{color:#ffd166}
.left p{margin:20px 0;font-size:18px}
.features div{margin:12px 0;padding:14px;background:rgba(255,255,255,.18);border-radius:10px;backdrop-filter:blur(8px)}
.right{width:55%;display:flex;justify-content:center;align-items:center}
.card{width:460px;background:#fff;padding:30px;border-radius:18px;box-shadow:0 10px 25px rgba(0,0,0,.15)}
h2{text-align:center;margin-bottom:20px}
label{display:block;font-weight:bold;margin-top:12px}
input,select{width:100%;padding:12px;margin-top:5px;border:1px solid #ccc;border-radius:8px}
.check{margin:15px 0;font-size:14px}
.check input{width:auto}
button{width:100%;padding:14px;background:#0b5bd3;color:#fff;border:none;border-radius:8px;font-size:17px;cursor:pointer}
button:hover{background:#083f94}
#msg{text-align:center;margin-top:15px;font-weight:bold}
.login-link{text-align:center;margin-top:15px}
.login-link a{text-decoration:none;color:#0b5bd3;font-weight:bold}
@media(max-width:900px){
.container{flex-direction:column}
.left,.right{width:100%}
.card{width:92%;margin:20px auto}
}
